@-webkit-keyframes CAROUSEL-SLIDE {
  0% {
    transform: translateX(calc(100% / 18))
  }
  100% {
    transform: translateX(calc(100% / 3))
  }
}


.ProfileCarousel {
  &-container {
    display: flex;
    transition: 1.125s ease-out;
    height: 20rem;
    justify-content: center;
    align-items: center;
  }
  
  &-slide {
    animation: CAROUSEL-SLIDE 2.125s ease-out forwards;
  }
}
