.ProfileCarousel {
  overflow: hidden;
  
  &-container {
    display: flex;
    transition: 1.5s ease-out;
    height: 20rem;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

}
