@-webkit-keyframes CAROUSEL-SLIDE {
  0% {
    transform: translateX(calc(100% / 18))
  }
  100% {
    transform: translateX(calc(100% / 3))
  }
}


.ProfileCarousel {
  display: flex;
  justify-content: flex-end;
  transition: 1.125s ease-out;

  &-slide {
    animation: CAROUSEL-SLIDE 2.125s ease-out forwards;
  }
}
